.heroSection {
  width: 100vw;
  height: 70vh;
  background: url("/images/hero-bg.png ");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  // backdrop-filter: 0.3;
  // position: relative;
  background-attachment: fixed;
  overflow-y: hidden;
  @media (max-width: 888px) {
    height: 40vh;
    background-color: rgb(34, 238, 19);
    background-position-x: center;
    // overflow: hidden;
  }
  @media (max-width: 444px) {
    overflow: hidden;
    width: 100vw;
  }

  .overally {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 0;

    bottom: 0;
    // display: none;
    top: 0;
    opacity: 0.4;
    @media (max-width: 768px) {
      height: 100%;
      // display: none;
    }
  }
  .hero-text {
    text-align: center;
    z-index: 70;
    h1 {
      font-size: 80px;
      font-weight: 800;
      line-height: 88px;
      letter-spacing: 8px;
      font-family: Consolas;
      .tello {
        background-color: orange;
        padding: -2rem 0.6rem;
      }
      @media (max-width: 768px) {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 4px;
      }
    }
    .subTitle {
      font-size: 32.7px;
      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
    .intro {
      font-size: 26.7px;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
    button {
      padding: 1rem 2rem;
      border-radius: 2rem;
      border: none;
      font-size: 1.2rem;
      font-weight: 600;
      color: white;
      background-color: #2888e8;
    }
  }
}
